{#
/**
 * @file
 * Theme override for a set of links - language switcher links.
 *
 * @see template_preprocess_links()
 */
#}
{% if links -%}
<div class="box language-selector">
  {%- for langcode, item in links -%}
    {%- if item.link -%}
      {{ item.link }}
    {%- elseif item.text_attributes -%}
      <span{{ item.text_attributes }}>{{ langcode | upper }}</span>
    {%- else -%}
      {{ langcode | upper }}&nbsp;
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif %}
