/**
 * @file
 * ZZ-specific styles.
 */
body {
  font-family: Arial, sans-serif;
  background-color: #0d1b2a; /* Dark blue background */
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1.card-header {
  font-size: 1.5em;
}

/**
 * General purpose box with rounded
 */
.box {
  background-color: #1b263b;
  border-radius: 15px;
  padding: 20px;
  width: auto;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  /** Node style **/
  &.node {
    width: auto;
    max-width: 800px;
    text-align: justify;
    a {
      color: white;
    }
  }
}

.card a {
  color: white;
}

/* Sticky Header Styles */
header {
  justify-content: space-between;
  align-items: center;
  background-color: #1b263b;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.site-name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  a {
    color: white;
    text-decoration: none;
  }
  &:before {
    content: '🪐';
  }
}
.menu a, .language-selector select {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
/* Hidden on mobile */
.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #1b263b;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/** Language selector */
.language-selector a {
  display: inline-block;
  margin-right: 1rem;
  color: white;
  &.is-active {
    font-weight: bolder;
    background-color: white;
    color: #1b263b;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
  }
}

/* Sticky Footer Styles */
footer {
  background-color: #1b263b;
  color: #d1d5db;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  width: 100%;
  position: sticky;
  bottom: 0;
  a {
    color: white;
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
  .box {
    width: auto;
    max-width: 90%;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
