<!-- Horoscope Card -->
<div class="card">
  <div class="zodiac-icon {{ sign }}">{{ icon }}</div> <!-- Example Zodiac Icon -->
  <div class="zodiac-name">{{ sign_name }}</div>
  <div class="horoscope-text">{{ content }}</div>
</div>
