{# Horoscope Card #}
<div class="card">
  {# Sign is lower case code like pisces, icon is an unicode character presenting the sign, #}
  <div class="zodiac-icon {{ sign }}">{{ icon }}</div>
  <div class="zodiac-name">{{ title|trans}}</div>
  <div class="horoscope-text">{% block content %}{% endblock %}</div>
</div>
