{# Horoscope Card #}
<div class="card">
  {% if header %}{{ header }}{% endif %}
  {% embed 'zz_card:card-header' %}{% endembed %}
  <div class="horoscope-text">{% block content %}{% endblock %}</div>
</div>
